.footer * {
  font-family: "Montserrat", sans-serif;
  transition: all var(--transition-speed) ease;
  text-decoration: none;
}

.footer {
  width: 100vw;
  height: fit-content;
  background: var(--bg-projects);
  border-top: 1px solid var(--border-accent);

  padding: 5rem 10vw 1rem 10vw;

  .links-container {
    display: flex;
    height: 100%;
    flex-direction: column;
    gap: 2rem;
  }
  .link {
    color: var(--text-secondary);
    text-decoration: none;
    font-size: 1.5rem;
  }
  .link:hover {
    color: var(--accent);
  }

  display: grid;

  .rights {
    padding: 2rem 0;
  }
  .rights p {
    display: inline;
  }
  .source {
    display: flex;
    flex-direction: row;
    gap: 1rem;
  }
  .source a {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;

    background: var(--bg-black);
    border-radius: var(--border-radius);
    color: var(--accent);
    padding: 0.5rem 1rem;
    border: 1px solid var(--border-accent);
    fill: var(--accent);
    text-decoration: none;
  }
  .source svg {
    width: 3rem;
    height: 3rem;
  }

  .footer-logo {
    background: url("../assets/logoIcon.png") no-repeat center center/cover;
  }
  .rights {
    margin-top: 5rem;
  }
  @media only screen and (max-width: 768px) {
    grid-template-columns: 1fr 1fr;

    .source {
      justify-content: end;
      align-items: start;
    }
    .footer-logo {
      width: 2rem;
      height: 2rem;
    }

    .item:first-child {
      display: flex;
      flex-direction: row;
      align-items: start;
      gap: 2rem;
      justify-content: start;
    }

    .item:last-child {
      grid-column: 1 / span 2;
    }
  }
  @media only screen and (min-width: 768px) {
    .source {
      justify-content: end;
      align-items: start;
    }
    grid-template-columns: 1fr 1fr;

    .item:first-child {
      display: flex;
      flex-direction: row;
      align-items: start;
      gap: 2rem;
      justify-content: start;
    }

    .item:last-child {
      grid-column: 1 / span 2;
    }

    .footer-logo {
      width: 4rem;
      height: 5rem;
      background: url("../assets/logoIcon.png") no-repeat center center/cover;
    }
  }
}
